In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
CX_order_report = pd.read_excel("C:/Users/hp/Downloads/Company X - Order Report.xlsx")
CX_order_report

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [3]:
CX_SKU_Master = pd.read_excel("C:/Users/hp/Downloads/Company X - SKU Master.xlsx")
CX_SKU_Master

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [4]:
CC_invoice = pd.read_excel("C:/Users/hp/Downloads/Courier Company - Invoice.xlsx")
CC_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [5]:
CX_Pincode_Zones = pd.read_excel("C:/Users/hp/Downloads/Company X - Pincode Zones.xlsx")
CX_Pincode_Zones

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [6]:
CC_Rates = pd.read_excel("C:/Users/hp/Downloads/Courier Company - Rates.xlsx")
CC_Rates

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [7]:
CX_Pincode_Zones.rename(columns={'Zone':'Zone_X'},inplace = True)
CX_Pincode_Zones

     Warehouse Pincode  Customer Pincode Zone_X
0               121003            507101      d
1               121003            486886      d
2               121003            532484      d
3               121003            143001      b
4               121003            515591      d
..                 ...               ...    ...
119             121003            325207      b
120             121003            303702      b
121             121003            313301      b
122             121003            173212      e
123             121003            302020      b

[124 rows x 3 columns]

In [8]:
SKU_Wrt_ExternOrderNO = pd.merge(CX_SKU_Master,CX_order_report,on = 'SKU',how = 'outer')
SKU_Wrt_ExternOrderNO

               SKU  Weight (g)  ExternOrderNo  Order Qty
0    8904223815682         210     2001808801        1.0
1    8904223815859         165     2001820978        1.0
2    8904223815859         165     2001811363        1.0
3    8904223815859         165     2001811363        1.0
4    8904223815859         165     2001808801        1.0
..             ...         ...            ...        ...
396  8904223819512         210     2001806733        1.0
397  8904223819543         300     2001811306        1.0
398     SACHETS001          10     2001827036        1.0
399     SACHETS001          10     2001825261        1.0
400     SACHETS001          10     2001819252        1.0

[401 rows x 4 columns]

In [9]:
SKU_Wrt_ExternOrderNO['weight_by_quantity'] = SKU_Wrt_ExternOrderNO['Weight (g)'] * SKU_Wrt_ExternOrderNO['Order Qty']
SKU_Wrt_ExternOrderNO

               SKU  Weight (g)  ExternOrderNo  Order Qty  weight_by_quantity
0    8904223815682         210     2001808801        1.0               210.0
1    8904223815859         165     2001820978        1.0               165.0
2    8904223815859         165     2001811363        1.0               165.0
3    8904223815859         165     2001811363        1.0               165.0
4    8904223815859         165     2001808801        1.0               165.0
..             ...         ...            ...        ...                 ...
396  8904223819512         210     2001806733        1.0               210.0
397  8904223819543         300     2001811306        1.0               300.0
398     SACHETS001          10     2001827036        1.0                10.0
399     SACHETS001          10     2001825261        1.0                10.0
400     SACHETS001          10     2001819252        1.0                10.0

[401 rows x 5 columns]

In [10]:
temp = SKU_Wrt_ExternOrderNO.groupby('ExternOrderNo')['weight_by_quantity'].sum().reset_index()
temp.rename(columns = {'weight_by_quantity':'total_wt_X'},inplace = True)
temp

     ExternOrderNo  total_wt_X
0       2001806210       220.0
1       2001806226       480.0
2       2001806229       500.0
3       2001806232      1302.0
4       2001806233       245.0
..             ...         ...
119     2001821995       477.0
120     2001822466      1376.0
121     2001823564       672.0
122     2001825261      1557.0
123     2001827036      2176.0

[124 rows x 2 columns]

In [11]:
temp['d_500'] = temp['total_wt_X']/500
temp['d_500'] = np.ceil(temp['d_500'])
temp['weight_slab_X'] = temp['d_500'] * 0.5
temp

     ExternOrderNo  total_wt_X  d_500  weight_slab_X
0       2001806210       220.0    1.0            0.5
1       2001806226       480.0    1.0            0.5
2       2001806229       500.0    1.0            0.5
3       2001806232      1302.0    3.0            1.5
4       2001806233       245.0    1.0            0.5
..             ...         ...    ...            ...
119     2001821995       477.0    1.0            0.5
120     2001822466      1376.0    3.0            1.5
121     2001823564       672.0    2.0            1.0
122     2001825261      1557.0    4.0            2.0
123     2001827036      2176.0    5.0            2.5

[124 rows x 4 columns]

In [12]:
temp.rename(columns = {'ExternOrderNo':'Order_ID'},inplace = True)
temp

       Order_ID  total_wt_X  d_500  weight_slab_X
0    2001806210       220.0    1.0            0.5
1    2001806226       480.0    1.0            0.5
2    2001806229       500.0    1.0            0.5
3    2001806232      1302.0    3.0            1.5
4    2001806233       245.0    1.0            0.5
..          ...         ...    ...            ...
119  2001821995       477.0    1.0            0.5
120  2001822466      1376.0    3.0            1.5
121  2001823564       672.0    2.0            1.0
122  2001825261      1557.0    4.0            2.0
123  2001827036      2176.0    5.0            2.5

[124 rows x 4 columns]

In [13]:
CC_invoice.rename(columns = {'Order ID':'Order_ID'},inplace = True)
CC_invoice

,AWB Code,Order_ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [14]:
temp1 = pd.merge(temp,CC_invoice,on = 'Order_ID',how = 'outer')
temp1

,Order_ID,total_wt_X,d_500,weight_slab_X,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,220.0,1.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,480.0,1.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,500.0,1.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1302.0,3.0,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,245.0,1.0,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,1.0,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,1376.0,3.0,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,672.0,2.0,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,4.0,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,5.0,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9

In [15]:
temp1.rename(columns = {'Charged Weight': 'total_wt_cc','Zone' : 'Zone_cc','Billing Amount (Rs.)' : 'charges_by_cc' },inplace = True)
temp1

,Order_ID,total_wt_X,d_500,weight_slab_X,AWB Code,total_wt_cc,Warehouse Pincode,Customer Pincode,Zone_cc,Type of Shipment,charges_by_cc
0,2001806210,220.0,1.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,480.0,1.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,500.0,1.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1302.0,3.0,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,245.0,1.0,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,1.0,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,1376.0,3.0,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,672.0,2.0,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,4.0,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,5.0,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9

In [16]:
temp1.drop(['d_500'],axis = 1,inplace = True)
temp1.drop(['Warehouse Pincode'], axis = 1,inplace = True)

In [17]:
temp1

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Customer Pincode,Zone_cc,Type of Shipment,charges_by_cc
0,2001806210,220.0,0.5,1091117221940,2.92,140604,b,Forward charges,174.5
1,2001806226,480.0,0.5,1091117222065,0.68,723146,d,Forward charges,90.2
2,2001806229,500.0,0.5,1091117222080,0.71,421204,d,Forward charges,90.2
3,2001806232,1302.0,1.5,1091117222124,1.30,507101,d,Forward charges,135.0
4,2001806233,245.0,0.5,1091117222135,0.78,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.5,1091121183730,0.50,342008,d,Forward charges,45.4
120,2001822466,1376.0,1.5,1091121305541,1.10,342301,d,Forward charges,135.0
121,2001823564,672.0,1.0,1091121666133,0.70,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,2.0,1091121981575,1.60,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,2.5,1091122418320,1.60,173213,b,Forward charges,117.9

In [18]:
temp1['total_wt_cc'] = temp1['total_wt_cc'].apply(lambda x:x*1000) 
temp1

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Customer Pincode,Zone_cc,Type of Shipment,charges_by_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5
1,2001806226,480.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2
2,2001806229,500.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2
3,2001806232,1302.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0
4,2001806233,245.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4
120,2001822466,1376.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0
121,2001823564,672.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9

In [19]:
temp1['d_500'] = temp1['total_wt_cc']/500
temp['d_500'] = np.ceil(temp1['d_500'])
temp1['weight_slab_cc'] = temp1['d_500'] * 0.5
temp1

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Customer Pincode,Zone_cc,Type of Shipment,charges_by_cc,d_500,weight_slab_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5,5.84,2.92
1,2001806226,480.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2,1.36,0.68
2,2001806229,500.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2,1.42,0.71
3,2001806232,1302.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0,2.60,1.30
4,2001806233,245.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3,1.56,0.78
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4,1.00,0.50
120,2001822466,1376.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0,2.20,1.10
121,2001823564,672.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8,1.40,0.70
122,2001825261,1557.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0,3.20,1.60
123,2001827036,2176.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9,3.20,1.60

In [20]:
temp1.drop(['d_500'],axis = 1,inplace = True)
temp1

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Customer Pincode,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5,2.92
1,2001806226,480.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2,0.68
2,2001806229,500.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2,0.71
3,2001806232,1302.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0,1.30
4,2001806233,245.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3,0.78
...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4,0.50
120,2001822466,1376.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0,1.10
121,2001823564,672.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8,0.70
122,2001825261,1557.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0,1.60
123,2001827036,2176.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9,1.60

In [21]:
temp2 = pd.merge(temp1,CX_Pincode_Zones,on = 'Customer Pincode',how = 'outer')
temp2

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Customer Pincode,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Warehouse Pincode,Zone_X
0,2001806210,220.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5,2.92,121003,b
1,2001806226,480.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2,0.68,121003,d
2,2001806229,500.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2,0.71,121003,d
3,2001806232,1302.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0,1.30,121003,d
4,2001806233,245.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3,0.78,121003,b
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,477.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4,0.50,121003,b
170,2001822466,1376.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0,1.10,121003,b
171,2001823564,672.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8,0.70,121003,d
172,2001825261,1557.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0,1.60,121003,d
173,2001827036,2176.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9,1.60,121003,e

In [22]:
temp2.drop(['Warehouse Pincode'], axis =1,inplace = True)
temp2.drop(['Customer Pincode'], axis =1,inplace = True)
temp2

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Zone_X
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,2.92,b
1,2001806226,480.0,0.5,1091117222065,680.0,d,Forward charges,90.2,0.68,d
2,2001806229,500.0,0.5,1091117222080,710.0,d,Forward charges,90.2,0.71,d
3,2001806232,1302.0,1.5,1091117222124,1300.0,d,Forward charges,135.0,1.30,d
4,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,0.78,b
...,...,...,...,...,...,...,...,...,...,...
169,2001821995,477.0,0.5,1091121183730,500.0,d,Forward charges,45.4,0.50,b
170,2001822466,1376.0,1.5,1091121305541,1100.0,d,Forward charges,135.0,1.10,b
171,2001823564,672.0,1.0,1091121666133,700.0,d,Forward and RTO charges,172.8,0.70,d
172,2001825261,1557.0,2.0,1091121981575,1600.0,d,Forward and RTO charges,345.0,1.60,d
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,1.60,e

In [23]:
temp2.isnull().sum()

Order_ID            0
total_wt_X          0
weight_slab_X       0
AWB Code            0
total_wt_cc         0
Zone_cc             0
Type of Shipment    0
charges_by_cc       0
weight_slab_cc      0
Zone_X              0
dtype: int64

In [24]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          174 non-null    int64
 1   total_wt_X        174 non-null    float64
 2   weight_slab_X     174 non-null    float64
 3   AWB Code          174 non-null    int64
 4   total_wt_cc       174 non-null    float64
 5   Zone_cc           174 non-null    object
 6   Type of Shipment  174 non-null    object
 7   charges_by_cc     174 non-null    float64
 8   weight_slab_cc    174 non-null    float64
 9   Zone_X            174 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 15.0+ KB

In [25]:
list_zones = temp2['Zone_X'].unique()
list_zones

array(['b', 'd', 'e'], dtype=object)

In [26]:
final_df = pd.DataFrame()
final_df

Empty DataFrame
Columns: []
Index: []

In [27]:
value_pair = {'a' : 29.5,'b' : 33,'c' : 40.1,'d' : 45.4,'e' : 56.6}

In [39]:
additional_charges = {'a' : 23.6,'b' : 28.3,'c' : 38.9,'d' : 44.8,'e' :55.5}

In [40]:
rto_fixed_charges = {'a' : 13.6,'b' : 20.5,'c' : 31.9,'d' : 41.3,'e' : 50.7}

In [41]:
rto_additional_charges = {'a' : 23.6,'b' : 28.3,'c' : 38.9,'d' : 44.8,'e' :55.5}

In [42]:
for i in list_zones:
    temp3 = temp2[temp2['Zone_X'] == i]
    temp3['fixed'] = value_pair[i]
    temp3['additional'] = np.where(temp3 ['weight_slab_X']*2 > 1,((temp3['weight_slab_X']*2)-1)*additional_charges[i],0)
    temp3['rto_fixed_charges'] =  np.where(temp3['Type of Shipment'].str.contains("RTO", case=False), rto_fixed_charges[i], 0)
    temp3['rto_additional_charges'] =  np.where((temp3 ['weight_slab_X']*2 > 1) & (temp3['Type of Shipment'].str.contains('Forward and RTO charges', case=False)),((temp3['weight_slab_X']*2)-1)*rto_additional_charges[i],0)
    final_df = final_df.append(temp3)

In [43]:
final_df.reset_index(inplace = True, drop = True)
final_df

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Zone_X,fixed,additional,rto_fixed_charges,rto_additional_charges
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,2.92,b,33.0,0.0,0.0,0.0
1,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,0.78,b,33.0,0.0,0.0,0.0
2,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0
3,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0
4,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,56.6,55.5,0.0,0.0
170,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,56.6,55.5,0.0,0.0
171,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,0.80,e,56.6,55.5,50.7,55.5
172,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.30,e,56.6,0.0,0.0,0.0
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,1.60,e,56.6,222.0,0.0,0.0

In [44]:
final_df['expected_charges_X'] = final_df['fixed'] + final_df['additional'] + final_df['rto_fixed_charges'] + final_df['rto_additional_charges']
final_df

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Zone_X,fixed,additional,rto_fixed_charges,rto_additional_charges,expected_charges_X
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,2.92,b,33.0,0.0,0.0,0.0,33.0
1,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,0.78,b,33.0,0.0,0.0,0.0,33.0
2,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0,33.0
3,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0,33.0
4,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,56.6,55.5,0.0,0.0,112.1
170,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,56.6,55.5,0.0,0.0,112.1
171,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,0.80,e,56.6,55.5,50.7,55.5,218.3
172,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.30,e,56.6,0.0,0.0,0.0,56.6
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,1.60,e,56.6,222.0,0.0,0.0,278.6

In [45]:
final_df['difference_x_cc'] = round(final_df['expected_charges_X'] - final_df['charges_by_cc'],2)
final_df

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Zone_X,fixed,additional,rto_fixed_charges,rto_additional_charges,expected_charges_X,difference_x_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,2.92,b,33.0,0.0,0.0,0.0,33.0,-141.5
1,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,0.78,b,33.0,0.0,0.0,0.0,33.0,-28.3
2,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0,33.0,-57.2
3,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0,33.0,-57.2
4,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,0.0,0.0,0.0,33.0,-57.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,56.6,55.5,0.0,0.0,112.1,50.8
170,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,56.6,55.5,0.0,0.0,112.1,50.8
171,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,0.80,e,56.6,55.5,50.7,55.5,218.3,4.8
172,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.30,e,56.6,0.0,0.0,0.0,56.6,23.6
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,1.60,e,56.6,222.0,0.0,0.0,278.6,160.7

In [46]:
final_df = final_df.drop(columns = ['fixed','additional','rto_fixed_charges','rto_additional_charges'])
final_df

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Zone_X,expected_charges_X,difference_x_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,2.92,b,33.0,-141.5
1,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,0.78,b,33.0,-28.3
2,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,-57.2
3,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,-57.2
4,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,-57.2
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,112.1,50.8
170,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,112.1,50.8
171,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,0.80,e,218.3,4.8
172,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.30,e,56.6,23.6
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,1.60,e,278.6,160.7

In [47]:
DF = final_df[['Order_ID','total_wt_X','weight_slab_X','AWB Code','total_wt_cc','Zone_cc','Type of Shipment','charges_by_cc','weight_slab_cc','Zone_X','expected_charges_X','difference_x_cc']]
DF

,Order_ID,total_wt_X,weight_slab_X,AWB Code,total_wt_cc,Zone_cc,Type of Shipment,charges_by_cc,weight_slab_cc,Zone_X,expected_charges_X,difference_x_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,2.92,b,33.0,-141.5
1,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,0.78,b,33.0,-28.3
2,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,-57.2
3,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,-57.2
4,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,0.71,b,33.0,-57.2
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,112.1,50.8
170,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,0.80,e,112.1,50.8
171,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,0.80,e,218.3,4.8
172,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.30,e,56.6,23.6
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,1.60,e,278.6,160.7

In [49]:
DF.to_csv('DF.csv',index = False)